{
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 150,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.graphql"],
      "options": {
        "parser": "graphql"
      }
    },
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.tsx"],
      "options": {
        "parser": "typescript",
        "jsxBracketSameLine": false,
        "jsxSingleQuote": false
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
