
.strengthIndicator {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 8px;

  .strengthLevelWrapper {
    display: flex;
    flex-direction: row;

    .indicator {
      width: 53.25px;
      height: 4px;
      margin-right: 4px;
      transition: 0.4s all;
      border-radius: 4px;
      background-color: #d7e1e1;
    }

    .active {
      background-color: #ff392e;
    }
  }

  .indicatorText {
    margin-left: 5px;
    color: #485a6a;
    font-family: $font-main;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
  }

  @media (width <= 430px) {
    flex-wrap: wrap;
    gap: 5px;
  }
}
